//- registered items list, auction item list : seller 

//- logout button, 
//- purchased list, auction list : buyer

extends ../layout.pug

block content
    // Contents
    .container
        h1.my-5 My Page
        .row
            // User info
            .col.account-info-container
                .account-info
                    h4.mb-4 Account Info
                    ul
                        li
                            p Role
                            span=': '+user.role
                        li
                            p Name
                            span=': '+user.name
                        li
                            p Email
                            span=': '+user.email
                        li
                            p Address
                            span=': '+user.address
        // Purchased product list
        .card.not-product.my-5
            .card-header Registered Product
            .card-body
                .row
                    each product in user.createdProducts
                        if !product.isAuction
                            .col-lg-4.col-md-6.mb-4
                                    a.card.h-100(href="/product/" + product._id)
                                        .card-header
                                            <i class="fas fa-star"></i>
                                            h5.d-inline.ml-2=product.wishCount
                                        img.card-img-top(src=`${product.image}`, alt='')
                                        .card-footer
                                            if product.isAuction
                                                h5 Auction
                                            else
                                                h5 Buy It Now
                                        .card-body
                                            h4.card-title=product.name
                                            h5="₩"+product.price
                                            form(style="float: left; width: 47%", action=`/product/${product._id}/edit`, method="get")
                                                input.btn.btn-light.form-btn(style="width:100%", type='submit', value='Edit')
                                            form(style="float: right; width: 47%" action="/product/unregister", method="post")
                                                input(type='hidden', name='pid', value=`${product._id}`)
                                                input.btn.btn-light.form-btn(style="width:100%" type='submit', value='Delete')
        // Auction product list
        .card.not-product.my-5
            .card-header Registered Auction
            .card-body
                .row
                    each product in user.createdProducts
                        if product.isAuction
                            .col-lg-4.col-md-6.mb-4
                                    a.card.h-100(href="/product/" + product._id)
                                        .card-header
                                            <i class="fas fa-star"></i>
                                            //- wish list count position
                                            h5.d-inline.ml-2=product.wishCount
                                        img.card-img-top(src=`${product.image}`, alt='')
                                        .card-footer
                                            if product.isAuction
                                                h5 Auction
                                            else
                                                h5 Buy It Now
                                        .card-body
                                            h4.card-title=product.name
                                            h5="₩"+product.price
                                            if product.status == "Registered"
                                                form.mb-2(action="/product/draw", method="post")
                                                    input(type='hidden', name='pid', value=`${product._id}`)
                                                    input.btn.btn-secondary.form-btn(style="width:100%" type='submit', value='Draw')
                                            else
                                                form.mb-2(action="/product/cancel_draw", method="post")
                                                    input(type='hidden', name='pid', value=`${product._id}`)
                                                    input.btn.btn-light.form-btn(style="width:100%" type='submit', value='Cancel Draw')
                                            form(style="float: left; width: 47%" action=`/product/${product._id}/edit`, method="get")
                                                    input.btn.btn-light.form-btn(style="width:100%" type='submit', value='Edit')
                                            form(style="float: right; width: 47%" action="/product/unregister", method="post")
                                                input(type='hidden', name='pid', value=`${product._id}`)
                                                input.btn.btn-light.form-btn(style="width:100%" type='submit', value='Delete')