//- logout button, 
//- purchased list, auction list : buyer

extends ../layout.pug

block content
    // Contents
    .container
        h1.my-5 My Page
        .row
            // User info
            .col.account-info-container
                .account-info
                    h4.mb-4 Account Info
                    ul
                        li.account-info-list
                            p.account-info-p Role
                            span=': ' + user.role
                        li.account-info-list
                            p.account-info-p Name
                            span=': ' + user.name
                        li.account-info-list
                            p.account-info-p Email
                            span=': ' + user.email
                        li.account-info-list
                            p.account-info-p Address
                            span=': ' + user.address
            // Purchased product list
            .card.not-product.mx-auto.my-5
                .card-header Purchased
                .card-body
                    .row
                        each product in products
                            .col-lg-4.col-md-6.mb-4
                                a.card.h-100(href="/product/:id")
                                    img.card-img-top(src=`${product.image}`, alt='')
                                    .card-footer
                                        if product.isAuction
                                            h5 Auction
                                        else
                                            h5 Buy It Now
                                    .card-body
                                        h4.card-title=product.name
                                        h5="₩"+product.price
                                        p.card-text=product.description
            // Auction product list
            .card.not-product.mx-auto.my-5
                .card-header Auction
                .card-body
                    .row
                        each product in products
                            .col-lg-4.col-md-6.mb-4
                                a.card.h-100(href="/product/:id")
                                    img.card-img-top(src=`${product.image}`, alt='')
                                    .card-footer
                                        if product.isAuction
                                            h5 Auction
                                        else
                                            h5 Buy It Now
                                    .card-body
                                        h4.card-title=product.name
                                        h5="₩"+product.price
                                        p.card-text=product.description
