extends ../layout.pug

block content
  .container
    h1.my-5 Product Detail
    .row
        .col-lg-7
            .mx-5
                .card.h-100.not-pointer
                    img.card-img-top(src=`${product.image}`, alt='')
                    .card-footer
                        if product.isAuction
                            h5 Auction
                        else
                            h5 Buy it Now
        .col-lg-5
            .product-text
                h3=product.name
                h2="₩"+product.price
            .py-2
                div
                    span Category
                    span=": "+product.category.name
                div
                    span Status
                    span=": "+product.status
                div
                    span Seller
                    span=": "+product.seller.name
                div
                    span Trading Place
                    span=": "+product.seller.address
                div
                    span Upload Time
                    span=": "+product.uploadTime
            .py-2
                form(action="/wishlist", method="post")
                    input(type='hidden', name='pid', value=`${product._id}`)
                    input.btn.btn-light.btn-block.form-btn(type='submit', value='Add to Wishlist')
            .py-2
                if product.isAuction
                    form(action="/product/bid", method="post")
                        input#price.form-control(name='bid_price', type='number', placeholder='Price', required='required', autofocus='autofocus')
                        label(for='price') Price
                        input(type='hidden', name='pid', value=`${product._id}`)
                        input.btn.btn-light.btn-block.form-btn(type='submit', value='Bid')
                else
                    form(action="/product/purchase", method="post")
                        input(type='hidden', name='pid', value=`${product._id}`)
                        input.btn.btn-light.btn-block.form-btn(type='submit', value='Buy')

    div
        h1.my-5 Description
        p=product.description
    // Only if the product is auction
    div
        if product.isAuction
            h1.my-5 Auction History
            .card.not-pointer
                .card-header
                    i.fas.fa-table
                    span.ml-2 Log
                .card-body
                    .table-responsive
                        table#log.table.table-bordered(width='100%', cellspacing='0')
                            thead
                                tr
                                    th(style='width:30%;') Time
                                    th(style='width:25%;') Type
                                    th(style='width:25%;') User
                                    th(style='width:20%;') Price
                            tfoot
                                tr
                                    th Time
                                    th Type
                                    th User
                                    th Price
                            tbody
                                each transaction in product.priceHistory
                                    tr
                                        td=transaction.executedTime
                                        td=transaction.type
                                        td=transaction.user
                                        td=transaction.price
        .mb-5
