extends ../layout.pug

block content
  .container
    h1.my-5 Product Detail
    .row
        .col-lg-7
            .mx-5
                .card.h-100.not-pointer
                    img.card-img-top(src=`${product.image}`, alt='')
                    .card-footer
                        if product.isAuction
                            h5 Auction
                        else
                            h5 Buy it Now
        .col-lg-5
            .product-text
                h3=product.name
                h2="₩"+product.price
            .py-2
                div
                    span Category
                    span=": "+product.category.name
                div
                    span Status
                    span=": "+product.status
                div
                    span Seller
                    span=": "+product.seller.name
                div
                    span Upload Time
                    span=": "+product.uploadTime
            .py-2
                input.btn.btn-light.btn-block.form-btn(type='submit', value='Add to Wishlist')
            .py-2
                input.btn.btn-light.btn-block.form-btn(type='submit', value='Buy')
    div
        h1.my-5 Description
        p=product.description
    // Only if the product is auction
    div
        h1.my-5 Auction History
        p
